@font-face {
  font-family: "Jetbrains Mono Light";
  src: url("/fonts/JetBrainsMonoNL-Italic.ttf");
}

:root {
  // --article-font-family: "Jetbrains Mono Light", var(--zh-font-family), var(--sys-font-family), sans-serif;
  --article-font-family: var(--zh-font-family), var(--sys-font-family), sans-serif;
  --code-font-family: "Jetbrains Mono Light", Menlo, Monaco, Consolas, "Courier New", monospace;
}

.right-sidebar {
  @include respond(lg) {
    padding-bottom: var(--main-top-padding);
  }

  .arrow-up {
    position: absolute;
    bottom: 0;
    right: var(--main-top-padding);
    width: 20px;
    height: 20px;
    // font-size: 30px;
    cursor: pointer;
  }
}

.widget--toc {
  #TableOfContents {
    max-height: 65vh;

    ol,
    ul {
      list-style-type: none;
    }

    li {
      margin: 10px 10px;

      &>ol,
      &>ul {
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: -5px;

        &>li:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
}
