<!-- 彩虹丝带效果 -->
<script 
  src="https://cdn.jsdelivr.net/gh/zhixuan2333/gh-blog@v0.1.0/js/ribbon.min.js"
  integrity="sha384-UEK8ZiP3VgFNP8KnKMKDmd4pAUAOJ59Y2Jo3ED2Z5qKQf6HLHovMxq7Beb9CLPUe"
  crossorigin="anonymous"
  size="300"
  alpha="0.6" 
  zindex="-1"
  defer>
</script>
<!-- 顶部加载条效果 -->
<script src="https://cdn.jsdelivr.net/gh/zhixuan2333/gh-blog@v0.1.0/js/nprogress.min.js"
  integrity="sha384-bHDlAEUFxsRI7JfULv3DTpL2IXbbgn4JHQJibgo5iiXSK6Iu8muwqHANhun74Cqg" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/zhixuan2333/gh-blog@v0.1.0/css/nprogress.css"
  integrity="sha384-KJyhr2syt5+4M9Pz5dipCvTrtvOmLk/olWVdfhAp858UCa64Ia5GFpTN7+G4BWpE" crossorigin="anonymous" />

<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

<script>
  NProgress.start();
  document.addEventListener("readystatechange", () => {
    if (document.readyState === "interactive") NProgress.inc(0.8);
    if (document.readyState === "complete") NProgress.done();
  });

  // 滚动至顶部元素
  const rightSideBar = document.querySelector(".widget--toc");
  const arrowUp = document.createElement("div");
  arrowUp.innerHTML = `
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
      <path d="M783.6 662.5l-283.6-291.9-283.6 291.9-16.399999999999977-16 300-308.9 300 308.9-16.399999999999977 16z"/>
    </svg>
  `
  arrowUp.setAttribute("id", "back-to-top");
  // arrowUp.addEventListener('click', () => {
  //   window.scroll({
  //     top: 0,
  //     left: 0,
  //     behavior: 'smooth'
  //   });
  // });
  rightSideBar.appendChild(arrowUp);
  $(window).scroll(function () {
      if ($(this).scrollTop()) {
        $('#back-to-top').fadeIn();
      } else {
        $('#back-to-top').fadeOut();
      }
    });

  // Click event to scroll to top
  $('#back-to-top').click(function () {
    $('html, body').animate({ scrollTop: 0 }, 1000);
    return false;
  });
</script>

